# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/
*.log

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# MyPy / type checker
.mypy_cache/
.dmypy.json
dmypy.json

# -------------------------
# macOS
# -------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# -------------------------
# IDEs / Editors
# -------------------------
# VSCode
.vscode/
# PyCharm
.idea/
# Sublime
*.sublime-workspace
*.sublime-project

# -------------------------
# Misc
# -------------------------
*.swp
*~
